.reports {
    max-width: 1000px;
    margin: auto;

    .title {
        text-align: center;
    }

    .control-panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .periodicity {
            width: 100%;
            text-align: center;
        }
    }

    .month {
        text-align: center;
    }

    .chart {
        width: 100%;
        aspect-ratio: 5 / 3;

        .canvas {
            width: 100%;
            height: 100%;
        }
    }
}