<nz-card class="reports">
    <h2 class="title">Reportes</h2>
    <div class="control-panel">
        <button nz-button nzType="default" (click)="previous()">
            <span nz-icon nzType="left" nzTheme="outline"></span>
        </button>
        <div class="periodicity">
            <button
                nz-button [nzType]="periodicity === 0 ? 'primary' : 'default'" (click)="setMonthly()"
            >Mensual</button>
            <button
                nz-button [nzType]="periodicity === 1 ? 'primary' : 'default'" (click)="setWeekly()"
            >Semanal</button>
        </div>
        <button nz-button nzType="default" (click)="next()">
            <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
    </div>
    <h3 class="month">{{ range }}</h3>
    <div class="chart">
        <canvas class="canvas" width="500" height="300" #chart></canvas>
    </div>
</nz-card>
