:host {
  &.ng-invalid:not(.ng-pristine) {
    border: 1px solid var(--error);
  }
}

.score-input {
  display: flex;
  gap: 5px;

  .score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    aspect-ratio: 1/1;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 3px solid transparent;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &.selected {
      border-color: var(--selectedColor);

      img {
        width: 100%;
      }
    }

    &.not-selected {
      filter: blur(2px) grayscale(60%);
    }

    img {
      width: 80%;
      transition: width 100ms ease-in-out;
    }
  }
}
