<nz-card type="inner">
    <h2 class="title">¿Cómo te has sentido hoy?</h2>
    <form [formGroup]="todayForm" (ngSubmit)="save()">
        <nz-form-item>
            <app-score-input formControlName="score"></app-score-input>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group>
                    <textarea nz-input rows="5" formControlName="comment"></textarea>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div class="filled" *ngIf="filled" nz-row>
            <div nz-col>
                Hoy ya respondiste la encuesta, te esperamos mañana.
            </div>
        </div>
        <button nz-button nzType="primary">Enviar</button>
    </form>
</nz-card>