:host {
    display: flex;
    justify-content: center;

    .title {
        text-align: center;
    }

    .filled {
        margin-bottom: 16px;
        color: var(--primary);
    }

    textarea {
        resize: none;
    }
}