.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .nav {
        height: 80px;
        padding: 10px;
        box-sizing: border-box;
    }

    .content {
        padding: 10px;
        box-sizing: border-box;
        flex: 1 1 auto;
        overflow: auto;
    }
}