<nz-card class="card" nzType="inner">
    <nav class="nav">
        <ul class="menu">
            <li *ngFor="let item of menu" routerLinkActive="active">
                <a [routerLink]="item.route">{{ item.label }}</a>
            </li>
        </ul>
    </nav>
</nz-card>