.nav {
  display: flex;
  justify-content: center;

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-right: 5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: var(--primary-hover);

            a {
                color: #fff;
            }
        }

        &.active {
            background-color: var(--primary);

            a {
                color: #fff;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 5px 10px;
        }
    }
  }
}
