:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .title {
        text-align: center;
    }

    .container {
        min-width: 380px;
    }
}
