<h2 class="subtitle">Iniciar sesión</h2>
<form nz-form [formGroup]="loginForm" (ngSubmit)="login()">
    <nz-form-item>
        <nz-form-control nzErrorTip="El nombre de usuario es requerido">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input placeholder="Username" maxlength="255" formControlName="username">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="La contraseña es requerida">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input placeholder="Contraseña" formControlName="password">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Iniciar sesión</button>
    <div nz-row>
        <div nz-col>
            ¿Aún no tienes una cuenta? <a routerLink="/auth/register">Registrarme</a>
        </div>
    </div>
</form>