@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(239, 238, 245);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}