<h2 class="subtitle">Registro</h2>
<form nz-form [formGroup]="registerForm" (ngSubmit)="register()">
    <nz-form-item>
        <nz-form-control nzErrorTip="El nombre es requerido">
            <nz-input-group>
                <input type="text" nz-input placeholder="Nombre" maxlength="128" formControlName="name">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="El nombre de usuario es requerido y con caracteres alfanuméricos únicamente">
            <nz-input-group>
                <input type="text" nz-input placeholder="Username" maxlength="255" formControlName="username">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="La contraseña es requerida">
            <nz-input-group>
                <input type="password" nz-input placeholder="Contraseña" formControlName="password">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Registrarme</button>
    <div nz-row>
        <div nz-col>
            ¿Ya tienes una cuenta? <a routerLink="/auth/login">Inicia sesión</a>
        </div>
    </div>
</form>